---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-background">
    <Header />
    <main class="bg-background">
      <section class="flex justify-center items-center gap-8 mb-4 ">
        <div>
          <h1 class="mb-6 text-2xl font-Aquire font-bold text-aqua">Salut !</h1>
          <p class="text-sm font-Merriweather text-white lg:text-base">
            Bienvenue sur mon portfolio ! Je m'appelle Quentin Vibien, un
            étudiant de 20 ans dans les Métiers du Multimédia et de l’Internet à
            l’IUT du Limousin et je suis passionné par la création graphique ! 
          </p>
        </div>
        <div class="hidden lg:block">
          <img src="/moi.png" alt="" />
        </div>
      </section>
      <div class="mb-5">
      <a class="p-2 border-2 border-grayish-blue rounded-md font-Aquire text-white" href="/CV.pdf" download="CV.pdf">Télécharger CV</a>
    </div>
      <section class="p-5 rounded-md border-grayish-blue border-2">
        <section>
          <h2 class="text-aqua text-2xl font-Aquire">Mes Compétences</h2>
          <p class="text-white text-sm lg:text-base">Au cours de ma formation, j’ai acquis des compétences en graphisme, développement web, ainsi qu’en montage vidéo et audio. J’ai eu l’opportunité de les affiner et de les mettre en pratique à travers mes expériences professionnelles et mes projets personnels.</p>
        <div class="mb-4 border-t-2 border-grayish-blue"></div>
        <h2 class="text-white text-xl font-Aquire">Graphisme</h2>
        </section>
      


    </section>
    </main>
    <Footer />
  </body>
</html>