---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-background">
    <Header />
    <main class="bg-background">
      <section class="flex justify-center items-center gap-8 mb-4 ">
        <div>
          <h1 class="mb-6 text-3xl font-Aquire font-bold text-aqua">Salut !</h1>
          <p class="text-base font-Merriweather text-white">
            Bienvenue sur mon portfolio ! Je m'appelle Quentin Vibien, un
            étudiant de 20 ans dans les Métiers du Multimédia et de l’Internet à
            l’IUT du Limousin et je suis passionné par la création graphique ! 
          </p>
        </div>
        <div class="hidden lg:block">
          <img src="/moi.png" alt="" />
        </div>
      </section>
      <a class="p-2 border-2 border-grayish-blue rounded-md font-Aquire text-white" href="/CV.pdf" download="CV.pdf">Télécharger CV</a>
    </main>
    <Footer />
  </body>
</html>